body {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
}

#bloc-pong {
  border: 5px solid rgb(255,255,255);
  display: block;
  margin: auto;
}

#scores {
  position: absolute;
  top: 80px;
  left: 0px;
  right: 0px;
  width: 600px;
  margin: auto;
  z-index: 10;
}

@media (max-width: 840px) {
  #scores {
    margin-left: 113px;
  }  
}